<h1><%= @quiz.name %></h1>


<ul class="questions">

  <%= form_tag entries_path do %>
      <% @quiz.questions.each do |questions| %>
          <li>
            <%= questions.name %>
            <ul class="answers" %>
              <% questions.answers.each do |answer| %>
                  <li> <%= radio_button_tag("answer[#{questions.id}]", answer.id) %>
                    <%= label(:answer, answer.name) %>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end %>

      <%= submit_tag 'Complete' %>

  <% end %>


</ul>

















