<h2><%= "Level #{@user.level_id} - #{@user.level.name}" %></h2>

<% if @user.level_id == 1 %>
    <%= image_tag "level1.png", class: "img-responsive center-block" %>
<% elsif @user.level_id == 2 %>
    <%= image_tag "level2.png", class: "img-responsive center-block"  %>
<% elsif @user.level_id == 3 %>
    <%= image_tag "level3.png", class: "img-responsive center-block"  %>
<% end %>
<h4>Next Levels</h4>
<% @user.next_level.each do |level| %>
    <h4><%= "#{level.name} -- required score: #{level.required_score}" %></h4>
<% end %>
