<% provide(:title, @user.name) %>
<div class="profile">
  <div class="row">
    <h2> <%= "#{@user.name}'s Profile " %> </h2>

    <div class="col-md-4">
      <section class="level">
        <%= render 'users/level' %>
      </section>
    </div>

    <div class="col-md-4">
      <section class="score">
        <h2>Score</h2>
        <h1><%= @user.score %></h1>
        <h4>Points</h4>
      </section>
    </div>

    <div class="col-md-4">
      <section class="high-scores">
        <h3>Highest Quiz Results</h3>
        <% @user.quiz_scores.each do |quiz_name, score| %>
            <h3><%= "#{quiz_name}: #{score}" %></h3>
        <% end %>
      </section>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
        <p>Increase your level by getting a higher overall score!</p>
    </div>
    <div class="col-md-4">
        <p>Check out our <%= link_to "Leaderboard", users_path %> to see how your score ranks against others!</p>
    </div>
    <div class="col-md-4">
        <p>Not happy with your last result? Take a <%= link_to "Quiz", quizzes_path %> again to beat result and increase
          your overall score!</p>
    </div>
  </div>
</div>