<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h2> <%= @user.name %> </h2>

      <h3><%= "Level #{@user.level_id} - #{@user.level.name}" %></h3>

      <h4>Next Levels</h4>
      <% @user.next_level.each do |level|  %>
          <h4><%= "#{level.name} -- required score: #{level.required_score}" %></h4>
          <% end %>


      <h3>Your score is <%= @user.score %></h3>

      <h3>Highest Scores</h3>

      <% @user.quiz_scores.each do |quiz_name, score| %>
          <h3><%= "#{quiz_name} - #{score}" %></h3>
      <% end %>


    </section>
  </aside>
</div>